.app__container {
  width: 100vw;
  max-width: 1440px;
  height: 100%;
  padding: 32px 40px 24px;
  box-sizing: border-box;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  color: #000;
  position: relative;
}

.app__loading {
  height: 90vh;
  width: 100vw;
}
