.main-app {
  font-weight: bold;
}

.main-app_list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 323px);
  list-style-type: none;
  grid-gap: 20px;

  margin: auto;
  padding: 0;
}

.main-app__phrase {
  margin: 40px 0 34px;
}
