.header {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
  margin: 0 0 28px;
}

.header__user-space {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__logo {
  margin-right: 16px;
}

.header__date-location {
  margin: 0 auto 0 0;
}

.header__add-button {
  border: none;
  background-color: transparent;
  padding: 0;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  color: #000;
  font-weight: bold;
  cursor: pointer;
}

.header__user-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  margin: 0 0 0 20px;
}

.header__username {
  margin: 0;
}

.header__avatar {
  width: 40px;
  height: 40px;
}

.header__link {
  text-decoration: none;
  color: #000;
}

@media screen and (max-width: 885px) {
  .header {
    flex-direction: column;
    justify-content: center;
  }

  .header__logo {
    margin: 0;
  }

  .header__date-location {
    margin: 0;
  }
}

@media screen and (max-width: 505px) {
  .header__user-space {
    flex-direction: column-reverse;
    gap: 20px;
    margin: 40px 0 0;
  }
}
