.modal-item__button_type_close {
  height: 20px;
  width: 20px;

  background-image: url(../../assets/CloseButton.png);
  background-color: transparent;
  position: absolute;
  top: 24px;
  right: 24px;

  border: 0;
}

.modal-item__content {
  background-color: #fff;
  border-radius: 15px;
  position: relative;
}

.modal-item__image {
  border-radius: 15px;
  width: 498px;
  height: 498px;
}

.modal-item__info {
  font-size: 20px;
  font-weight: bold;
  padding: 20px 32px 32px;

  display: flex;
  flex-direction: column;
  gap: 12px;

  position: relative;
}

.modal-item__name {
  max-width: 135px;
  margin: 0;
  padding: 0;
}

.modal-item__weather-type {
  margin: 0;
  padding: 0;
}

.modal-item__delete {
  border: none;
  background-color: transparent;
  padding: 0;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  color: #ff0000;
  font-weight: bold;
  cursor: pointer;

  position: absolute;
  top: 20px;
  right: 32px;
}

@media screen and (max-width: 505px) {
  .modal-item__image {
    border-radius: 15px;
    width: 300px;
    height: 300px;
  }
}
