.weather-card {
  height: 80px;
  position: relative;
  display: flex;
  border-radius: 12px;
  overflow: hidden;
  /* margin-right: 16px; */
}

.weather-card__temp {
  font-size: 36px;
  line-height: 40px;
  color: #ffffff;
  margin: 0;
  position: absolute;
  top: 20px;
  left: 16px;
}

.weather-card__image {
  object-fit: cover;
  object-position: right;
  width: 100%;
}
